* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    background-color: #009de9;
}

.header {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 18px 60px 14px;
    box-sizing: border-box;
}

.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__img {
    width: 100%;
    display: block;
}

.slider__button {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    margin: 0 20px;
    cursor: pointer;
    position: absolute;
    transition: 300ms;
}

.slider__button-right {
    right: 0;
}

.header__left {
    display: flex;
    gap: 53px;
}

.weather__container {
    display: flex;
    position: relative;
    padding-right: 40px;
}

.weather__icon img {
    position: absolute;
    top: -10px;
    width: 35px;
    width: 35px;
}

.slider__button:hover {
    background: none;
}

.content {
    background-image: url("/assets/img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1130px;
}

.content__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 60px 55px;
}

.content__items {
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
    border-radius: 45px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: 500ms;
}

.content__items:hover {
    transform: scale(1.05);
}

.content__item {
    margin: 60px 20px 45px 20px;
    color: #2b2e2d;
    position: relative;
}

.content__item-image{
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 0;
    
}

.content__item-image svg path {
    fill: rgba(95, 155, 254, 0.7);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 110px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    padding: 12px 0 10px;
    box-sizing: border-box;
}

.footer__top {
    display: flex;
    gap: 45px;
    align-items: center;
}

.footer__bottom {
    display: flex;
    gap: 19px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.footer__moving {
    display: block;
}

.footer__logo {
    height: 20px;
}

.footer__links {
    color: #ffffff;
    transition: 300ms;
}

.footer__links:hover {
    color: #2600ff;
}
